<style>
	p	{
		background-color: lightblue;
		color: brightpink;
		font-size: large;
		text-align: center;
	}
</style>
<style>
	h1{
		color: blue;
		text-shadow: 2px 4px 4px rgba(46,91,173,0,6);
	}
</style>



